.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-home{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-myself{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.image-wrapper{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.aditya-span{
    color: #2F3C7E;
}

.main-image-me{
    width : 550px;
    height: 550px;
    transition: width 0.5s, height 0.5s;
    border-radius: 100%;
    z-index: 0;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 1rem 1rem 20px);
}

.main-image-me:hover{
    width : 570px;
    height: 570px;
}

@media screen and (max-width:1060px){
    .main-image-me{
        width: 500px;
        height: 500px;
    }
    .main-image-me:hover{
        width : 520px;
        height: 520px;
    }
    .home-myself{
        font-size: 40px;
    }
    .frontend-dev{
        font-size: 20px;
    }
    .social-media{
        width: 150px;
    }
    .insta-img,.linkedln-img,.github-img,.leetcode-img,.kaggle-logo{
        width: 20px;
    }
}

.frontend-dev{
    margin-top: 20px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.social-media{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200px;
    cursor: pointer;
}

.insta-img,.linkedln-img,.github-img,.leetcode-img,.kaggle-logo{
    width: 30px;
    filter: opacity(50%);
    filter: grayscale(100%);
}