.Projects{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects-text{
    flex: 45%;
    text-align: center;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.projects-link{
    text-decoration: none;
    color: #2f3c7e;
}

.projects-list{
    flex: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 45px;
}

.project{
    position: relative;
}

.work-img{
    width: 350px;
}

.link-of-project{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0 ,0.125);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.link-of-project:hover{
    opacity: 100;
}