.skills-sec{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
}

.skills-text{
    flex: 45%;
    text-align: center;
    font-size: 90px;
    color: #2f3c7e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.language-sec{
    flex: 55%;
}

.i-know-text,.learning-text{
    margin-left: 50%;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.language-icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.language-learning-icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.python-icon,.java-icon,
.html-icon,.css-icon,.js-icon{
    width: 80px;
    margin-left: 50%;
}